a {
  color: var(--color-primary-dark);
  background: var(--color-secondary);

  cursor: pointer;

  padding: .5rem;
  border-radius: 1rem;
  margin-top: 1rem;

  font-size: 1.1em;
}

a:hover {
  background: var(--color-secondary-dark);
}

h4 {
  color: var(--color-base-dark);
  
  margin-block: 1rem;
}