.link {
  color: var(--color-text-primary);
  background: var(--color-secondary);

  cursor: pointer;

  padding: .7rem;
  border-radius: 2rem;
  margin-top: 1rem;
}

.link:hover {
  background: var(--color-secondary-dark);
}


h1 {
  color: var(--color-text-primary);
}


h4 {
  color: var(--color-text-secondary);
  
  margin-block: 1rem;
}