/* główny grid */
.grid {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five";

  width: clamp(75%, 70rem, 90%);
  margin-inline: auto;
  padding-block: 2rem;
}


/* deklaracje */
.cell:nth-child(1) {
  grid-area: one;
}
.cell:nth-child(2) {
  grid-area: two;
}
.cell:nth-child(3) {
  grid-area: three;
}
.cell:nth-child(4) {
  grid-area: four;
}
.cell:nth-child(5) {
  grid-area: five;
}


@media screen and (min-width: 25em) {
  .grid {
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five";
  }
}

@media screen and (min-width: 50em) {
  .grid {
    grid-template-areas:
      "one one"
      "two three"
      "four five";
  }
}

@media screen and (min-width: 75em) {
  .grid {
    grid-template-areas:
      "one two three"
      "one four five";
  }
}