:root {
  --color-bg: #edf2f8;
  --color-base: #ffffff;
  --color-primary: #191645;
  --color-secondary: #43c6ac;
  --color-base-light: #ffffff;
  --color-base-dark: #cccccc;
  --color-primary-light: #302d58;
  --color-primary-dark: #0d0b23;
  --color-secondary-light: #a1e3d6;
  --color-secondary-dark: #2f8b78;
  --ff: "Barlow Semi Condensed", sans-serif;
  --fw: 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  /* background: rgb(0 100 0 / 0.05) !important; */
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff);
  font-weight: var(--fw);
  line-height: 1.5;
  background-color: var(--color-bg);

  font-size: 1.1rem;
}

#root {
  min-height: 100vh;
  display: grid;
  place-content: center;
}


/* pomocnicze */
.bg-base {
  background: var(--color-base);
}
.bg-base-light {
  background: var(--color-base-light);
}
.bg-base-dark {
  background: var(--color-base-dark);
}
.bg-primary {
  background: var(--color-primary);
}
.bg-primary-light {
  background: var(--color-primary-light);
}
.bg-primary-dark {
  background: var(--color-primary-dark);
}
.clr-base {
  color: var(--color-base);
}
.clr-base-light {
  color: var(--color-base-light);
}
.clr-base-dark {
  color: var(--color-base-dark);
}
.clr-primary {
  color: var(--color-primary);
}
.clr-primary-light {
  color: var(--color-primary-light);
}
.clr-primary-dark {
  color: var(--color-primary-dark);
}
.clr-secondary {
  color: var(--color-secondary);
}
.clr-secondary-light {
  color: var(--color-secondary-light);
}
.clr-secondary-dark {
  color: var(--color-secondary-dark);
}