:root {
  --color-bg: #E0C097;
  --color-base: #2D2424;
  --color-primary: #5C3D2E;
  --color-primary-dark: #412b21;
  --color-secondary: #B85C38;
  --color-secondary-dark: #8f482c;
  --color-text-primary: #ffdfb5;
  --color-text-secondary: #b69c7b;
  --ff: "Barlow Semi Condensed", sans-serif;
  --fw: 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline-color: transparent;
  text-decoration: none;
  list-style: none;

  box-shadow: none !important;
  outline: none !important;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff);
  font-weight: var(--fw);
  line-height: 1.5;
  background-color: var(--color-bg);

  font-size: 1.1rem;
}


#home {
  min-height: 100vh;
  display: grid;
  place-content: center;
}


/* pomocnicze */
.bg-base {
  background: var(--color-base);
}
.bg-primary {
  background: var(--color-primary);
}
.clr-base {
  color: var(--color-base);
}
.clr-primary {
  color: var(--color-primary);
}
.clr-secondary {
  color: var(--color-secondary);
}
.clr-text-primary {
  color: var(--color-text-primary);
}
.clr-text-secondary {
  color: var(--color-text-secondary);
}


h4 {
  font-weight: var(--fw);
}